body{
   background-color: rgb(116, 216, 33);
   text-align: center;
}
#Apps{
    background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 50px;

}
#Games img{
    width: 300px;
    height: 300px;
}
#mycarousel{
    background-color: rgb(23, 228, 166);
}
.carousel-inner img{
    margin: 20px;
    
}.carousel-inner p{
    font-size: 25px;
    color: white;
}

